<h1>{{ post.name }}</h1>
{{ post.postedAt|date("m.d.Y") }}<br>
{{ post.text }}<br><br>

<a href="{{ path("modifyPost", {'id':  post.id }) }}" >Редактировать пост</a><br><br>
<a href="{{ path("homepage", {'id':  post.id }) }}" >На главную</a><br><br>

