{% extends 'base.html.twig' %}

{% block title %}
    Главная - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for post in posts %}
            <div class="col-xs-12 col-md-8">
                <h3>{{ post.name }}</h3>
                {{ post.postedAt|date("m.d.Y") }}<br>
                {{ post.beginOfText }} ...<br>
                <a href="{{ path("full_post", {'id':  post.id }) }}" >Читать далее</a>
                    <br>  <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}